

.card-img-top {
  width: 400px;
}

button.btn.btn-warning {
  margin: .1em;
}

.realimg {
  width: 100% !important;
};

/* Optional: Hide horizontal scroll if needed */
body {
  overflow-x: hidden;
}

/* Ensure the page takes full height */
html, body, #root {
  height: 100%;
  margin: 0;  /* Reset default margin */
}

.container-fluid {
  padding-top: 40px;
}

button.navbar-toggler.collapsed {
  margin: .4em;
}

a.navbar-brand {
  margin: .6em;
}
