

.card-img-top {
  width: 400px;
}

button.btn.btn-warning {
  margin: .1em;
}

.realimg {
  width: 100% !important;
};

/* Optional: Hide horizontal scroll if needed */
body {
  overflow-x: hidden;
}

/* Ensure the page takes full height */
html, body, #root {
  height: 100%;
  margin: 0;  /* Reset default margin */
}

.container-fluid {
  padding-top: 40px;
}

button.navbar-toggler.collapsed {
  margin: .4em;
}

a.navbar-brand {
  margin: .2em;
}

a.btn.btn-main-2.btn-round-full.btn {
  line-height: .9em !important;
  padding: .6em !important;
  margin: .2em !important;
}

.square.border.col {
  padding: .6em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: .3rem;
}